<div class="container">
  <h1>Rentoo Ping Pong League</h1>

  <div class='top-league'>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Won</td>
          <td>Lost</td>
          <td>Winning %</td>
          <td>Points</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class='player-new'>
        <%= simple_form_for(@player) do |p| %>
          <% if @player.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @player.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-inputs">
            <%= p.input :name, label: 'Add a new player', placeholder: "e.g. Bob" %>
          </div>

          <div class="form-actions">
            <%= p.button :submit, 'Add player', class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="add-game">
        <%= simple_form_for(@game) do |g| %>
          <% if @game.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @game.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-inputs">
            <%= g.input :player_one_id, collection: Player.all  %>
          </div>
          <div class="form-inputs">
            <%= g.input :player_two_id, collection: Player.all %>
          </div>
          <div class="form-actions">
            <%= g.button :submit, 'Add game', class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class='game-result'>
        <h3>Latest Games</h3>

      </div>
    </div>
  </div>
</div>
