<h1>This is a list of all games</h1>

<div class="container">
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= game.player_one.name %> - <%= game.player_two.name %>

        <% if (game.win.to_i === game.player_one_id) %>
          <p><%= '1 - 0' %></p>
        <% else %>
          <p><%= '0 - 1' %></p>
        <% end %>


        <%= simple_form_for [game, @score] do |f| %>
          <% if @score.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @score.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.input :player_id, collection: [game.win] %>
          <%= f.submit 'NEW SCORE', class: 'btn btn-primary' %>
        <% end %>

        <%= link_to "UPDATE RESULT", edit_game_path(game), class: 'btn btn-info' %>
        <%= link_to "DELETE", game_path(game), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-info' %>
      </li>
    <% end %>
  </ul>

<%= link_to "BACK", root_path, class: 'btn btn-info' %>
</div>
