<h1>This is a list of all games</h1>

<div class="container">
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= game.player_one.name %> - <%= game.player_two.name %>
        <p>WINNER <%= game.win %> - FAILER <%= game.lost %></p>
        <%= link_to "UPDATE RESULT", edit_game_path(game), class: 'btn btn-info' %>
        <%= link_to "DELETE", game_path(game), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-info' %>
      </li>
    <% end %>
  </ul>

<%= link_to "BACK", root_path, class: 'btn btn-info' %>
</div>
